<main>
  <div id="jumbotron">
    <div class="bg p-5">
      <div class="container col-xxl-8 px-md-0 py-md-0">
        <h1 class="mat-display-3 mb-0">
          Poste curvo simples telecônico engastado
        </h1>
        <h2 class="mat-title">Aqui você encontra destalhes sobre o produto</h2>
      </div>
    </div>
  </div>
  <section>
    <div class="container p-5">
      <article>
        <div class="row">
          <div class="col-md-8 pt-5">
            <header>
              <p class="mat-title">
                Suporte para fixação de pétala, com diâmetros e encaixes
                variados, confeccionados em aço carbono SAE 1010/1020,
                galvanizado a fogo por imersão.
              </p>
            </header>
            <table mat-table>
              <thead>
                <tr>
                  <th rowspan="2" class="th-codigo">Código</th>
                  <th colspan="3">Dimensões</th>
                </tr>
                <tr>
                  <th>Inclinação</th>
                  <th>Diâmetro</th>
                  <th>Encaixe</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>SP 0101</td>
                  <td>5°</td>
                  <td>60,30</td>
                  <td>48,30</td>
                </tr>
                <tr>
                  <td>SP 0102</td>
                  <td>5°</td>
                  <td>60,30</td>
                  <td>60,30</td>
                </tr>
                <tr>
                  <td>SP 0103</td>
                  <td>5°</td>
                  <td>114,30</td>
                  <td>48,30</td>
                </tr>
                <tr>
                  <td>SP 0104</td>
                  <td>5°</td>
                  <td>114,30</td>
                  <td>60,30</td>
                </tr>
                <tr>
                  <td>SP 0105</td>
                  <td>5°</td>
                  <td>140</td>
                  <td>48,30</td>
                </tr>
                <tr>
                  <td>SP 0106</td>
                  <td>5°</td>
                  <td>140</td>
                  <td>60,30</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4 order-md-1">
            <img
              src="../../../../assets/postes/poste-curvo-simples-teleconico-engastado.svg"
              alt="Poste reto telecônico flangeado"
              class="img-fluid"
            />
          </div>
        </div>
      </article>
    </div>
  </section>
</main>
