<main>
  <div id="jumbotron">
    <div class="bg p-5">
      <div class="container col-xxl-8 px-md-0 py-md-0">
        <h1 class="mat-display-3 mb-0">Acessório</h1>
        <h2 class="mat-title">Suporte para postes e braços galvanizados</h2>
      </div>
    </div>
  </div>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-9 pt-5">
        <p>
          Bem-vindo ao Metal Postes, onde você encontra tudo para iluminação
          pública e decorativa. Estamos empenhados em oferecer a você o melhor
          do poste em metal, com foco em qualidade, agilidade e confiança.
        </p>

        <p>
          Fundada em 1996, a Metal Postes percorreu um longo caminho desde seu
          início em Moreno-PE. Quando Metal Postes começou, sua paixão por
          iluminação externa os levou a construnção de uma fábrica própria para
          que possamos oferecer a você postes em aço carbono de alta qualidade.
          Nós atendemos construtoras, condomínio, prefeitura e estamos
          entusiasmados por podermos transformar nossa paixão em nosso próprio
          site.
        </p>

        <p>
          Nós esperamos que você goste de nossos produtos tanto quanto nós
          gostamos de oferecê-los a você. Se você tiver dúvidas ou comentários,
          não hesite em entrar em contato conosco.
        </p>
      </div>
      <div class="col-md-3 order-md-1">
        <img
          src="../assets/chris-knight-vTyBDTTEfU4-unsplash.jpg"
          alt="Acessórios"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</main>
