<main>
  <div id="jumbotron">
    <div class="bg p-5">
      <div class="container col-xxl-8 px-md-0 py-md-0">
        <h1 class="mat-display-3 mb-0">Acessório</h1>
        <h2 class="mat-title">Suporte para postes e braços galvanizados</h2>
      </div>
    </div>
  </div>
  <div class="container p-5">
    <h2 class="mat-title">Tipos de acessórios</h2>

    <div class="row">
      <div class="col-md-9">
        <mat-nav-list role="navigation">
          <a
            mat-list-item
            role="listitem"
            routerLink="/acessorios/suporte-para-postes-retos"
          >
            <mat-icon mat-list-icon>emoji_objects</mat-icon>
            Suporte para postes retos
          </a>
          <a
            mat-list-item
            role="listitem"
            routerLink="/acessorios/bracos-galvanizados"
          >
            <mat-icon mat-list-icon>emoji_objects</mat-icon>
            Braços Galvanizados
          </a>
        </mat-nav-list>
      </div>
      <div class="col-md-3">
        <img
          src="../assets/takashi-watanabe-f2DL8oI-7N8-unsplash.jpg"
          alt="Postes"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</main>
