<main class="poste">
  <div id="jumbotron">
    <div class="bg p-5">
      <div class="container col-xxl-8 px-md-0 py-md-0">
        <h1 class="mat-display-3 mb-0">
          Poste curvo simples telecônico flangeado
        </h1>
        <h2 class="mat-title">Aqui você encontra detalhes sobre o produto</h2>
      </div>
    </div>
  </div>
  <section>
    <div class="container py-5">
      <article>
        <div class="row">
          <div class="col-md-8 pt-5">
            <header>
              <p class="mat-title">
                Confeccionado em tubo redondo de anço carbono SAE 1010/1020, em
                alturas variadas de 2 metros a 15 metros.
              </p>
              <p class="mat-title">
                Galvanizado a fogo por imersão conforme norma NBR-6323 da ABNT,
                garantindo longa vida útil ao mobiliário. Fixação flangeada
                (base e chumbador), chumbador fornecido nas dimensões adequadas
                a altura do poste conforme tabela anexa. Aplicação em diversos
                áreas como: Praças, estacionamentos, vias públicas, condomínios
                entre outros.
              </p>
            </header>
            <div class="table-responsive">
              <table mat-table>
                <thead>
                  <tr>
                    <th rowspan="3" class="th-codigo" width="20%">
                      Referência
                    </th>
                  </tr>
                  <tr>
                    <th colspan="3">Poste</th>
                    <th colspan="3">Flange</th>
                    <th colspan="3">Chumbador</th>
                  </tr>
                  <tr>
                    <th width="10%">H (Últil)</th>
                    <th width="10%">Ø B</th>
                    <th width="10%">Ø T</th>
                    <th width="10%">A</th>
                    <th width="10%">B</th>
                    <th width="10%">Ø D1</th>
                    <th width="10%">Ø D2</th>
                    <th width="10%">H CH</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>MLP-CSF-2000</td>
                    <td>2000</td>
                    <td>76,20</td>
                    <td>60,30</td>
                    <td>200</td>
                    <td>140</td>
                    <td>14</td>
                    <td>3/8"</td>
                    <td>350</td>
                  </tr>
                  <tr>
                    <td>MLP-CSF-3000</td>
                    <td>3000</td>
                    <td>76,20</td>
                    <td>60,30</td>
                    <td>200</td>
                    <td>140</td>
                    <td>14</td>
                    <td>3/8"</td>
                    <td>350</td>
                  </tr>
                  <tr>
                    <td>MLP-CSF-4000</td>
                    <td>4000</td>
                    <td>76,20</td>
                    <td>60,30</td>
                    <td>200</td>
                    <td>140</td>
                    <td>14</td>
                    <td>3/8"</td>
                    <td>350</td>
                  </tr>
                  <tr>
                    <td>MLP-CSF-5000</td>
                    <td>5000</td>
                    <td>76,20</td>
                    <td>60,30</td>
                    <td>250</td>
                    <td>180</td>
                    <td>20</td>
                    <td>5/8"</td>
                    <td>600</td>
                  </tr>
                  <tr>
                    <td>MLP-CSF-6000</td>
                    <td>6000</td>
                    <td>76,20</td>
                    <td>60,30</td>
                    <td>250</td>
                    <td>180</td>
                    <td>20</td>
                    <td>5/8"</td>
                    <td>600</td>
                  </tr>
                  <tr>
                    <td>MLP-CSF-7000</td>
                    <td>7000</td>
                    <td>88,90</td>
                    <td>60,30</td>
                    <td>300</td>
                    <td>220</td>
                    <td>25</td>
                    <td>3/4"</td>
                    <td>800</td>
                  </tr>
                  <tr>
                    <td>MLP-CSF-8000</td>
                    <td>8000</td>
                    <td>88,90</td>
                    <td>60,30</td>
                    <td>300</td>
                    <td>220</td>
                    <td>25</td>
                    <td>3/4"</td>
                    <td>800</td>
                  </tr>
                  <tr>
                    <td>MLP-CSF-9000</td>
                    <td>9000</td>
                    <td>88,90</td>
                    <td>60,30</td>
                    <td>300</td>
                    <td>220</td>
                    <td>25</td>
                    <td>3/4"</td>
                    <td>800</td>
                  </tr>
                  <tr>
                    <td>MLP-CSF-10000</td>
                    <td>10000</td>
                    <td>114,30</td>
                    <td>60,30</td>
                    <td>300</td>
                    <td>220</td>
                    <td>25</td>
                    <td>3/4"</td>
                    <td>800</td>
                  </tr>
                  <tr>
                    <td>MLP-CSF-11000</td>
                    <td>11000</td>
                    <td>114,30</td>
                    <td>60,30</td>
                    <td>300</td>
                    <td>220</td>
                    <td>25</td>
                    <td>3/4"</td>
                    <td>800</td>
                  </tr>
                  <tr>
                    <td>MLP-CSF-12000</td>
                    <td>12000</td>
                    <td>114,30</td>
                    <td>60,30</td>
                    <td>300</td>
                    <td>220</td>
                    <td>25</td>
                    <td>3/4"</td>
                    <td>800</td>
                  </tr>
                  <tr>
                    <td>MLP-CSF-13000</td>
                    <td>13000</td>
                    <td>127,00</td>
                    <td>60,30</td>
                    <td>300</td>
                    <td>220</td>
                    <td>25</td>
                    <td>3/4"</td>
                    <td>800</td>
                  </tr>
                  <tr>
                    <td>MLP-CSF-14000</td>
                    <td>14000</td>
                    <td>127,00</td>
                    <td>60,30</td>
                    <td>400</td>
                    <td>300</td>
                    <td>30</td>
                    <td>7/8"</td>
                    <td>1000</td>
                  </tr>
                  <tr>
                    <td>MLP-CSF-15000</td>
                    <td>15000</td>
                    <td>127,00</td>
                    <td>60,30</td>
                    <td>400</td>
                    <td>300</td>
                    <td>30</td>
                    <td>7/8"</td>
                    <td>1000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-4 order-md-1">
            <img
              src="../../../../assets/postes/poste-curvo-simples-teleconico-flangeado.svg"
              alt="Poste reto telecônico flangeado"
              class="img-fluid"
            />
          </div>
        </div>
      </article>
    </div>
  </section>
</main>
