<main>
  <div id="jumbotron">
    <div class="bg p-5">
      <div class="container col-xxl-8 px-md-0 py-md-0">
        <h1 class="mat-display-3 mb-0">Postes</h1>
        <h2 class="mat-title">
          Postes de metal para iluminação pública e decorativa
        </h2>
      </div>
    </div>
  </div>
  <div class="container p-5">
    <h2 class="mat-title">Tipos de postes</h2>

    <div class="row">
      <div class="col-md-9">
        <mat-nav-list role="navigation">
          <a
            mat-list-item
            role="listitem"
            routerLink="/postes/poste-reto-teleconico-flangeado"
          >
            Poste reto telecônico flangeado
          </a>
          <a
            mat-list-item
            role="listitem"
            routerLink="/postes/poste-reto-teleconico-engastado"
          >
            Poste reto telecônico engastado
          </a>
          <a
            mat-list-item
            role="listitem"
            routerLink="/postes/poste-curvo-simples-teleconico-flangeado"
          >
            Poste curvo simples telecônico flangeado
          </a>
          <a
            mat-list-item
            role="listitem"
            routerLink="/postes/poste-curvo-simples-teleconico-engastado"
          >
            Poste curvo simples telecônico engastado
          </a>
          <a
            mat-list-item
            role="listitem"
            routerLink="/postes/poste-curvo-duplo-teleconico-flangeado"
          >
            Poste curvo duplo telecônico flangeado
          </a>
          <a
            mat-list-item
            role="listitem"
            routerLink="/postes/poste-curvo-duplo-teleconico-engastado"
          >
            Poste curvo duplo telecônico engastado
          </a>
        </mat-nav-list>
      </div>
      <div class="col-md-3">
        <img
          src="../assets/chris-knight-vTyBDTTEfU4-unsplash.jpg"
          alt="Postes"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</main>
