<main>
  <div id="jumbotron">
    <div class="bg p-5">
      <div class="container col-xxl-8 px-md-0 py-md-0">
        <h1 class="mat-display-3 mb-0">Braços galvanizados</h1>
        <h2 class="mat-title">
          Braços para iluminação pública com diametros e dimensões variados,
          confeccionados em aço carbono SAE 1010/1020, galvanizado a fogo por
          imersão conforme norma NBR 6323 da ABNT
        </h2>
      </div>
    </div>
  </div>
  <section>
    <div class="container py-5">
      <article>
        <div class="row">
          <div class="col-md-8 pt-5">
            <header>
              <h1 class="mat-display-1">Braço galvanizado sem sapata</h1>
            </header>
            <table mat-table>
              <thead>
                <tr>
                  <th colspan="2">galvanizado sem sapata</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td width="33%">Modelo</td>
                  <td width="66%">Bl10</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4 order-md-1">
            <img
              src="../../../../assets/acessorios/bracos-galvanizados/braco-galvanizado-sem-sapata.svg"
              alt="Acessórios"
              class="img-fluid"
            />
          </div>
        </div>
      </article>
      <hr class="my-5" />
      <article>
        <div class="row">
          <div class="col-md-8 pt-5">
            <header>
              <h1 class="mat-display-1">Braço galvanizado com sapata</h1>
            </header>
            <table mat-table>
              <thead>
                <tr>
                  <th colspan="2">galvanizado com sapata</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td width="33%">Modelo</td>
                  <td width="66%">Bl50</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4 order-md-1">
            <img
              src="../../../../assets/acessorios/bracos-galvanizados/braco-galvanizado-com-sapata.svg"
              alt="Acessórios"
              class="img-fluid"
            />
          </div>
        </div>
      </article>
    </div>
  </section>
</main>
