<main>
  <div id="heroes">
    <div class="bg p-5">
      <div class="container col-xxl-8 px-md-0 py-md-0">
        <h1 class="mat-headline mb-0">Sobre nós</h1>
        <h2 class="mat-title">
          Fábrica de postes de metal para iluminação pública e decorativa
        </h2>
      </div>
    </div>
  </div>
  <div class="container p-5">
    <p>
      Bem-vindo ao Metal Postes, onde você encontra tudo para iluminação pública
      e decorativa. Estamos empenhados em oferecer a você o melhor do poste em
      metal, com foco em qualidade, agilidade, confiança.
    </p>

    <p>
      Fundada em 1996, a Metal Postes percorreu um longo caminho desde seu
      início em Moreno-PE. Quando Metal Postes começou, sua paixão por
      iluminação externa os levou a construnção da fábrica para que os postes de
      metal possam oferecer a você postes metálicos alta qualidade. Agora
      atendemos construtoras, condomínio, prefeitura e estamos entusiasmados por
      podermos transformar nossa paixão em nosso próprio site.
    </p>

    <p>
      Nós esperamos que você goste de nossos produtos tanto quanto Nós gostamos
      de oferecê-los a você. Se você tiver dúvidas ou comentários, não hesite em
      entrar em contato-nos.
    </p>
  </div>
</main>
