main {
  background-color: whitesmoke;
  #heroes {
    background-color: #dc4c12;
    h1 {
      color: white;
    }
    h2 {
      color: whitesmoke;
      line-height: normal;
    }
  }
  p {
    color: black;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #heroes {
    background: url(../../../assets/luz.jpg) no-repeat;
    background-size: 66% auto;
    background-position: right;
    div.bg {
      background: url(../../../assets/bg.svg) no-repeat;
      background-size: auto 512px;
      background-position: left center;
      h2 {
        width: 33%;
        color: whitesmoke;
        line-height: normal;
      }
    }
  }
  svg.svg-inline--fa {
    height: 96px;
  }
  #produtos h2.mat-display-1 {
    margin-top: 128px;
  }
}
