<main>
  <div id="jumbotron">
    <div class="bg p-5">
      <div class="container col-xxl-8 px-md-0 py-md-0">
        <h1 class="mat-display-3 mb-0">Consultoria</h1>
        <h2 class="mat-title">Projetos sob medida em iluminação externa</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 pt-5">
        <p>
          Bem-vindo ao Metal Postes, onde você encontra tudo para iluminação
          pública e decorativa. Estamos empenhados em oferecer a você o melhor
          do poste em metal, com foco em qualidade, agilidade e confiança.
        </p>

        <p>
          Fundada em 1996, a Metal Postes percorreu um longo caminho desde seu
          início em Moreno-PE. Quando Metal Postes começou, sua paixão por
          iluminação externa os levou a construnção de uma fábrica própria para
          que possamos oferecer a você postes em aço carbono de alta qualidade.
          Nós atendemos construtoras, condomínio, prefeitura e estamos
          entusiasmados por podermos transformar nossa paixão em nosso próprio
          site.
        </p>

        <p>
          Nós esperamos que você goste de nossos produtos tanto quanto nós
          gostamos de oferecê-los a você. Se você tiver dúvidas ou comentários,
          não hesite em entrar em contato conosco.
        </p>
      </div>
      <div class="col-md-6 order-md-1">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.7124927135446!2d-37.33136488482543!3d-8.33133989400665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a7e03549f80c21%3A0xbb2d048eae62085b!2sBR-232%2C%20Pernambuco!5e0!3m2!1spt-BR!2sbr!4v1635558959767!5m2!1spt-BR!2sbr"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
</main>
