<main>
  <div id="jumbotron">
    <div class="bg p-5">
      <div class="container col-xxl-8 px-md-0 py-md-0">
        <h1 class="mat-display-3 mb-0">Consultoria</h1>
        <h2 class="mat-title">Projetos sob medida em iluminação externa</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 pt-5">
        <p class="lead">Entre em contato</p>
        <mat-nav-list>
          <a
            mat-list-item
            href="https://www.google.com/maps?q=BR 232, 24,5 km, S/N , Moreno - PE, 54800-000"
          >
            <mat-icon mat-list-icon>place</mat-icon>
            <h2 mat-line>Endereço</h2>
            <div mat-line>
              Rodovia Br 232 Km 24,5, S/N , Distrito Industrial Moreno, PE, CEP
              54800-000
            </div>
          </a>
          <a mat-list-item href="tel:81992197598">
            <mat-icon mat-list-icon>phone</mat-icon>
            <div mat-line>Telefone</div>
            <div mat-line>(81) 99219-7598</div>
          </a>
          <a mat-list-item href="mailto:metalpostes@gmail.com">
            <mat-icon mat-list-icon>mail</mat-icon>
            <div mat-line>E-mail</div>
            <div mat-line>metalpostes@gmail.com</div>
          </a>
        </mat-nav-list>
      </div>
      <div class="col-md-6 order-md-1">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.925428397283!2d-35.10824628521974!3d-8.109075794162203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab02155c2bcca9%3A0xc681bf90385772c0!2sBR-232%2C%2024%20-%20S%2FN%20-%20Centro%2C%20Moreno%20-%20PE%2C%2054800-000!5e0!3m2!1spt-BR!2sbr!4v1635615492031!5m2!1spt-BR!2sbr"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
</main>
